<div id="container">
    <div id="settingsRow" class="row">
        <div class="col"></div>

        <div id="settings" class="settings col-10">

        </div>

        <div class="col"></div>
    </div>
    <div id="counterRow" class="row">
        <div class="col"></div>

        <div id="counter" class="counter col-10">
            <button mat-fab id="counterBtn" class="counterBtnSize {{counterClass}}" color="accent" (click)="counterBtnClick()">{{ counterBtnText }}</button>
        </div>

        <div class="col"></div>
    </div>
</div>