<div id="container">
    <div id="settingsRow" class="row">
        <div class="col"></div>

        <div id="settings" class="settings col-10">

        </div>

        <div class="col"></div>
    </div>
    <div id="counterRow" class="row">
        <div class="col "></div>

        <div fxLayout="column" id="counter" class="counter col-10">
            <button mat-fab id="counterBtn" class="counterBtnSize {{counterClass}}" color="accent" (click)="counterBtnClick()">{{ counterBtnText }}</button>
            <div *ngIf="currentExercise; else pending" class="my-3">Exercise name: {{currentExercise.name}}</div>
            <ng-template #pending>
                <div *ngIf="state == Status.Resting">Resting...
                    <div *ngIf="exerciseIndex <= exercises.length">
                        Next exercise: {{exercises[exerciseIndex].name}}
                    </div>
                </div>
            </ng-template>
        </div>
        
        <div class="col"></div>
    </div>
</div>